
/* @keyframes bgChange {
    0%{
       box-shadow: 0px 0px 20px 1px rgb(203, 0, 0);
    }
    50%{
        box-shadow: 0px 0px 20px 1px rgb(19, 166, 0);
    }
    100%{
        box-shadow: 0px 0px 20px 1px rgb(0, 56, 169);
    }
} */

.circle-wrap{
    display: grid;
    grid-template-columns: repeat(1,160px);
    grid-gap: 80px;
    margin-top: 100px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    background: #d9d7da;
    border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1
{
 width: 150px;
 height: 150px;
 position: absolute;
 border-radius: 50%;
}
.circle-wrap .circle .mask{
    clip: rect(0px, 150px , 150px , 75px);
}
.mask .fill-1{
    clip: rect(0px, 75px , 150px , 0px);
    background: #ff5252;
}
.mask.full-1,
.circle .fill-1
{
    
    animation: fill-1 ease-in-out 3s ;
    transform: rotate(160deg);
}
@keyframes fill-1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(135deg);
    }
}
.inside-circle{
    line-height: 123px;
}